rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /post-assets/{postId}/{assetId} {
      allow write: if request.resource.size < 100 * 1024 * 1024
             && request.resource.contentType.matches('image/.*')
             && request.auth != null;
    }
    match /post-assets/{postId}/{assetId} {
      allow read;
    }
  }
}
